.catalog {
  display: grid;
  gap: $gap;
  justify-content: center;
  grid-template-columns: repeat(4, $width);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, $width);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, $width);
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(1, $width);

  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: $width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
