.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $width);

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: $width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $gap;
  }
}

@media (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
